@import '../../sass/mixin';

.application {
  display: flex;
  align-items: center;
  padding: 160px 0px 0px 0px;
  z-index: 1;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.imageBlock {
  margin-left: auto;
}

.text {
  font-size: 30px;
  margin: 50px 0px 50px 0px;
  width: 400px;
}

.buttonsMob {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 10%;
  left: 20%;
  margin-right: -200px;
}

.imageBlockMob {
  position: relative;
  display: none;
}

.logoMob {
  position: absolute;
  top: 15%;
  left: 23%;
  z-index: 1;
}


@include lg {
  .image {
    height: 500px;
  }
  .text {
    width: 300px;
  }
}

@include md {
  .imageBlockMob {
    display: block;
  }
  .imageBlock {
    display: none;
  }
  .buttons {
    display: none;
  }
  .application {
    flex-direction: column;
    text-align: center;
  }
}

@include sm {
  .mobileMob {
    width: 260px;
  }
  .buttonImage {
    width: 150px;
  }
  .buttonsMob {
    left: 20%;
  }
  .text {
    width: 260px;
  }
  
}