@import '../../sass/variables';
@import '../../sass/mixin';

.wrapper{
  height: 90px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
}

.header{
  display: flex;
  align-items: center;
}

.title {
  font-size: 28px;
  color: #000;
}

.text {
  font-size: 12px;
  color: #656161;
}

.left {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 20px;
}

.list {
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.menu {
  margin-left: 50px;
}

.menuLink {
  font-weight: 700;
  cursor: pointer;
}

.menuLink:hover {
  color: #585858;
  transition: 0.5s ease;
}

.userHeader {
  margin-left: auto;
}

.msgNot {
  margin-left: auto;
  margin-right: 50px;
  margin-bottom: -5px;
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: space-between;
}

@include lg {
  .content {
    display: none;
  }
}

@include md {
  .menu {
    display: none;
  }
  .content {
    width: 200px;
  }
  .header {
    justify-content: space-between;
  }
}

@include sm {
  .content {
    display: none;
  }
  .wrapper {
    padding: 0px 10px;
  }
  .logo {
    width: 100px;
  }
  .msgNot {
    margin: 0;
  }
}