@import '../../sass/mixin';

.cooperation {
  display: flex;
  align-items: center;
  padding: 150px 0px 150px 0px;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column; 
}

.text {
  margin: 40px 0px 30px 0px;
  line-height: 25px;
  width: 400px;
}

.button {
  width: 250px;
  border-radius: 5px;
  border: none;
  background-color: #000000;
  color: #fff;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
}

.button:hover {
  background-color: #585858;
  transition: 0.5s ease;
}

@include lg {
  .image {
    width: 400px;
  }
  .text {
    width: 300px;
  }
}

@include md {
  .cooperation {
    flex-direction: column;
  }
  .imageBlock {
    order: 1;
  }
  .content {
    order: 2;
    text-align: center;
    margin: 30px 0px 0px 0px;
  }
  .button {
    margin: 0 auto;
  }
  .image {
    width: 400px;
  }
}

@include sm {
  .image {
    width: 280px;
  }
}

